
GitExternals
tmp
Microsoft*
MATLAB*

.DS_Store*
prompts.txt

*.idx
*.thm

*.pdf

*~


*.ps
*.gz
*.tar
*.tar.gz

*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.snm
*.nav
*.brf
*.pdfsync

*.mat

*.out

*.tmproj

*.pyc

_region*

.dropbox
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
